{{extend 'layout.html'}}
<h2>Empresas</h2>
<table class="table">
   <thead>
      <tr>
         <th scope="col">Nombre de fantas&iacute;a</th>
         <th scope="col">Raz&oacute;n Social</th>
         <th scope="col">IUT</th>
         <th scope="col">Giro</th>
      </tr>
   </thead>
   <tbody>
      {{for empresa in empresas:}}
      <tr scope="row">
         <td>{{=empresa.fantasia}}</td>
         <td>{{=empresa.razon_social}}</td>
         <td>{{=empresa.iut}}</td>
         <td>{{=empresa.giro}}</td>
      </tr>
      {{pass}}
      <tr>
         <td style="padding-top: 2em;"><a class="btn btn-primary center" href="{{=URL('nueva_empresa')}}">
            <i class="fa fa-building"></i>Nueva Empresa</a>
         </td>
         <td colspan="3"></td>
      </tr>
   </tbody>
</table>