{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">{{=titulo}}</h1>
    <h2 class="display-5">{{=titulo2}}</h2>
  </div>
</div>
{{end}}

<div class="row">
    <div class="jumbotron jumbotron-fluid center" style="padding:30px;word-wrap:break-word;">
      <div class="container center">
        <a class="btn btn-primary" href="{{=URL('empresas')}}">
          <i class="fa fa-building"></i>Gestor de Empresas</a>
        <a class="btn btn-secondary" href="{{=URL('comunas')}}">Gestor de Comunas</a>
        <a class="btn btn-secondary" href="{{=URL('comunas')}}">Gestor de Ciudades</a>
      </div>
    </div>
  </div>
</div>



